In [1]:
import pandas as pd

In [4]:
my_list = [[1,2,3], [4,5,6]]
df1 = pd.DataFrame(my_list)
print(df1, end="\n\n")

   0  1  2
0  1  2  3
1  4  5  6

In [6]:
my_dict = {"A": [1,2,3], "B":[4,5,6]}
df2 = pd.DataFrame(my_dict)
print(df2)

   A  B
0  1  4
1  2  5
2  3  6

In [9]:
my_list2 = [[1,2,3,4,5], [10,20,30,40,50]]
df3 = pd.DataFrame(my_list2, index=['A', 'B'], columns=['1st', '2nd', '3rd', '4th', '5th'])
df3
# print(df3)

   1st  2nd  3rd  4th  5th
A    1    2    3    4    5
B   10   20   30   40   50